pillow
filelock
fsspec
imageio
imageio-ffmpeg
jinja2
networkx
numpy
tqdm
easydict
einops
opencv-python-headless
opencv-python
scipy
matplotlib
typing-extensions>=4.10.0
trimesh
transformers==4.57.3
safetensors>=0.8.0rc0
zstandard
kornia
timm
diffusers
accelerate
gradio
plyfile
